* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  html, body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ccd6f6;
    height: 100%;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 80px 80px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
  }
  
  .logo {
    color: #64ffda;
    font-size: 28px;
    font-weight: bold;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 16px;
    transition: color 0.3s;
  }
  .highlighted-nav {
    text-decoration: none;
    font-size: 18px;
    color: hwb(166 39% 0%);
  }
  
  .nav-links li a:hover {
    color: hwb(166 39% 0%);
  }

  .hero {
    width: 50%;
    min-height: 100vh;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
  }
  
  .intro {
    color: #64ffda;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 72px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #fff;
  }
  .subtitle {
    font-size: 48px;
    color: #8892b0;
    margin-bottom: 20px;
  }
  .description {
    max-width: 540px;
    font-size: 18px;
    line-height: 1.5;
    color: #8892b0;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #64ffda;
    color: #64ffda;
    background: transparent;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
  }
  .cta-button:hover {
    background: rgba(100, 255, 218, 0.1);
  }


  .stars {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        transform: rotate(-45deg);
        z-index: 1;
      }
      .star {
        --star-color: rgba(248, 248, 248, 0.829);
        --star-tail-length: 6em;
        --star-tail-height: 2px;
        --star-width: calc(var(--star-tail-length) / 6);
        --fall-duration: 9s;
        --tail-fade-duration: var(--fall-duration);
        position: absolute;
        top: var(--top-offset);
        left: 0;
        width: var(--star-tail-length);
        height: var(--star-tail-height);
        color: var(--star-color);
        background: linear-gradient(45deg, currentColor, transparent);
        border-radius: 50%;
        filter: drop-shadow(0 0 6px currentColor);
        transform: translateX(120vw);
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
      }
      @media screen and (max-width: 750px) {
        .star {
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
        }
      }
      .star:nth-child(1) {
        --star-tail-length: 5.83em;
        --top-offset: 90.9vh;
        --fall-duration: 10.628s;
        --fall-delay: 4.72s;
      }
      .star:nth-child(2) {
        --star-tail-length: 6.35em;
        --top-offset: 94.37vh;
        --fall-duration: 6.488s;
        --fall-delay: 9.084s;
      }
      .star:nth-child(3) {
        --star-tail-length: 5.05em;
        --top-offset: 75.02vh;
        --fall-duration: 9.713s;
        --fall-delay: 3.18s;
      }
      .star:nth-child(4) {
        --star-tail-length: 6.82em;
        --top-offset: 63.07vh;
        --fall-duration: 6.069s;
        --fall-delay: 5.505s;
      }
      .star:nth-child(5) {
        --star-tail-length: 5.18em;
        --top-offset: 40.57vh;
        --fall-duration: 8.787s;
        --fall-delay: 7.715s;
      }
      .star:nth-child(6) {
        --star-tail-length: 5.49em;
        --top-offset: 47.28vh;
        --fall-duration: 6.196s;
        --fall-delay: 2.643s;
      }
      .star:nth-child(7) {
        --star-tail-length: 6.32em;
        --top-offset: 25.6vh;
        --fall-duration: 10.121s;
        --fall-delay: 7.542s;
      }
      .star:nth-child(8) {
        --star-tail-length: 6.01em;
        --top-offset: 22.58vh;
        --fall-duration: 10.529s;
        --fall-delay: 0.33s;
      }
      .star:nth-child(9) {
        --star-tail-length: 7.29em;
        --top-offset: 43.61vh;
        --fall-duration: 8.002s;
        --fall-delay: 7.305s;
      }
      .star:nth-child(10) {
        --star-tail-length: 7.5em;
        --top-offset: 65.99vh;
        --fall-duration: 11.436s;
        --fall-delay: 5.411s;
      }
      .star:nth-child(11) {
        --star-tail-length: 7.38em;
        --top-offset: 95.07vh;
        --fall-duration: 9.709s;
        --fall-delay: 0.773s;
      }
      .star:nth-child(12) {
        --star-tail-length: 5.86em;
        --top-offset: 64.03vh;
        --fall-duration: 9.95s;
        --fall-delay: 1.24s;
      }
      .star:nth-child(13) {
        --star-tail-length: 6.39em;
        --top-offset: 96.37vh;
        --fall-duration: 8.807s;
        --fall-delay: 6.923s;
      }
      .star:nth-child(14) {
        --star-tail-length: 6.8em;
        --top-offset: 7.91vh;
        --fall-duration: 8.308s;
        --fall-delay: 9.43s;
      }
      .star:nth-child(15) {
        --star-tail-length: 6.32em;
        --top-offset: 16.62vh;
        --fall-duration: 8.715s;
        --fall-delay: 5.308s;
      }
      .star:nth-child(16) {
        --star-tail-length: 7.38em;
        --top-offset: 33.21vh;
        --fall-duration: 7.171s;
        --fall-delay: 1.432s;
      }
      .star:nth-child(17) {
        --star-tail-length: 5.81em;
        --top-offset: 11.37vh;
        --fall-duration: 11.903s;
        --fall-delay: 1.167s;
      }
      .star:nth-child(18) {
        --star-tail-length: 7.48em;
        --top-offset: 36.96vh;
        --fall-duration: 10.655s;
        --fall-delay: 2.852s;
      }
      .star:nth-child(19) {
        --star-tail-length: 6.26em;
        --top-offset: 18.99vh;
        --fall-duration: 11.068s;
        --fall-delay: 2.063s;
      }
      .star:nth-child(20) {
        --star-tail-length: 5.91em;
        --top-offset: 38.85vh;
        --fall-duration: 9.909s;
        --fall-delay: 8.12s;
      }
      .star:nth-child(21) {
        --star-tail-length: 7.34em;
        --top-offset: 0.3vh;
        --fall-duration: 10.457s;
        --fall-delay: 1.604s;
      }
      .star:nth-child(22) {
        --star-tail-length: 6.32em;
        --top-offset: 57.54vh;
        --fall-duration: 11.602s;
        --fall-delay: 5.139s;
      }
      .star:nth-child(23) {
        --star-tail-length: 5.41em;
        --top-offset: 73.68vh;
        --fall-duration: 8.323s;
        --fall-delay: 9.11s;
      }
      .star:nth-child(24) {
        --star-tail-length: 7.04em;
        --top-offset: 19.58vh;
        --fall-duration: 9.52s;
        --fall-delay: 7.622s;
      }
      .star:nth-child(25) {
        --star-tail-length: 5.55em;
        --top-offset: 95.32vh;
        --fall-duration: 9.698s;
        --fall-delay: 2.237s;
      }
      .star:nth-child(26) {
        --star-tail-length: 5.86em;
        --top-offset: 49.76vh;
        --fall-duration: 8.834s;
        --fall-delay: 4.544s;
      }
      .star:nth-child(27) {
        --star-tail-length: 6.7em;
        --top-offset: 37.13vh;
        --fall-duration: 6.916s;
        --fall-delay: 7.615s;
      }
      .star:nth-child(28) {
        --star-tail-length: 5.05em;
        --top-offset: 41.54vh;
        --fall-duration: 10.788s;
        --fall-delay: 7.114s;
      }
      .star:nth-child(29) {
        --star-tail-length: 6.2em;
        --top-offset: 70.52vh;
        --fall-duration: 8.741s;
        --fall-delay: 0.985s;
      }
      .star:nth-child(30) {
        --star-tail-length: 6.4em;
        --top-offset: 87.2vh;
        --fall-duration: 10.956s;
        --fall-delay: 8.559s;
      }
      .star:nth-child(31) {
        --star-tail-length: 6.25em;
        --top-offset: 43.02vh;
        --fall-duration: 7.851s;
        --fall-delay: 1.485s;
      }
      .star:nth-child(32) {
        --star-tail-length: 6.31em;
        --top-offset: 28.18vh;
        --fall-duration: 8.622s;
        --fall-delay: 3.314s;
      }
      .star:nth-child(33) {
        --star-tail-length: 6.68em;
        --top-offset: 72.3vh;
        --fall-duration: 10.905s;
        --fall-delay: 1.87s;
      }
      .star:nth-child(34) {
        --star-tail-length: 5.54em;
        --top-offset: 88.16vh;
        --fall-duration: 6.501s;
        --fall-delay: 9.424s;
      }
      .star:nth-child(35) {
        --star-tail-length: 6.58em;
        --top-offset: 98.02vh;
        --fall-duration: 11.223s;
        --fall-delay: 2.497s;
      }
      .star:nth-child(36) {
        --star-tail-length: 6.57em;
        --top-offset: 72.95vh;
        --fall-duration: 6.615s;
        --fall-delay: 2.75s;
      }
      .star:nth-child(37) {
        --star-tail-length: 5.7em;
        --top-offset: 66.33vh;
        --fall-duration: 10.62s;
        --fall-delay: 4.751s;
      }
      .star:nth-child(38) {
        --star-tail-length: 5.35em;
        --top-offset: 48.72vh;
        --fall-duration: 9.874s;
        --fall-delay: 1.73s;
      }
      .star:nth-child(39) {
        --star-tail-length: 6.51em;
        --top-offset: 7.89vh;
        --fall-duration: 6.038s;
        --fall-delay: 5.977s;
      }
      .star:nth-child(40) {
        --star-tail-length: 5.32em;
        --top-offset: 8.47vh;
        --fall-duration: 11.079s;
        --fall-delay: 4.6s;
      }
      .star:nth-child(41) {
        --star-tail-length: 6.32em;
        --top-offset: 77.19vh;
        --fall-duration: 11.497s;
        --fall-delay: 9.8s;
      }
      .star:nth-child(42) {
        --star-tail-length: 7.16em;
        --top-offset: 68.03vh;
        --fall-duration: 6.678s;
        --fall-delay: 6.788s;
      }
      .star:nth-child(43) {
        --star-tail-length: 6.91em;
        --top-offset: 84.22vh;
        --fall-duration: 6.131s;
        --fall-delay: 5.375s;
      }
      .star:nth-child(44) {
        --star-tail-length: 6.45em;
        --top-offset: 74.49vh;
        --fall-duration: 8.424s;
        --fall-delay: 8.455s;
      }
      .star:nth-child(45) {
        --star-tail-length: 6.43em;
        --top-offset: 31.82vh;
        --fall-duration: 8.915s;
        --fall-delay: 5.62s;
      }
      .star:nth-child(46) {
        --star-tail-length: 7.18em;
        --top-offset: 21.81vh;
        --fall-duration: 11.596s;
        --fall-delay: 3.895s;
      }
      .star:nth-child(47) {
        --star-tail-length: 6.9em;
        --top-offset: 87.62vh;
        --fall-duration: 7.918s;
        --fall-delay: 5.145s;
      }
      .star:nth-child(48) {
        --star-tail-length: 6.35em;
        --top-offset: 73.98vh;
        --fall-duration: 10.192s;
        --fall-delay: 4.864s;
      }
      .star:nth-child(49) {
        --star-tail-length: 5.87em;
        --top-offset: 49.02vh;
        --fall-duration: 7.054s;
        --fall-delay: 3.986s;
      }
      .star:nth-child(50) {
        --star-tail-length: 7.31em;
        --top-offset: 33.43vh;
        --fall-duration: 6.448s;
        --fall-delay: 3.008s;
      }
      .star::before,
      .star::after {
        position: absolute;
        content: "";
        top: 0;
        left: calc(var(--star-width) / -2);
        width: var(--star-width);
        height: 100%;
        background: linear-gradient(45deg, transparent, currentColor, transparent);
        border-radius: inherit;
        animation: blink 2s linear infinite;
      }
      .star::before {
        transform: rotate(45deg);
      }
      .star::after {
        transform: rotate(-45deg);
      }
      
      @keyframes fall {
        to {
          transform: translateX(-20vw);
        }
      }
      @keyframes tail-fade {
        0%, 50% {
          width: var(--star-tail-length);
          opacity: 1;
        }
        70%, 80% {
          width: 0;
          opacity: 0.4;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }
      @keyframes blink {
        50% {
          opacity: 0.6;
        }
      }